<div class="layui-inline" bsp-auth="add">
    <a class="layui-btn layui-btn-normal usersAdd_btn">添加</a>
</div>
<div class="layui-inline" bsp-auth="edit">
    <a class="layui-btn layui-btn-warm usersEdit_btn">编辑</a>
</div>
<div class="layui-inline" bsp-auth="del" >
    <a class="layui-btn layui-btn-danger batchDel">批量删除</a>
</div>