@model ErrorViewModel
@{
    Layout = "_Layout";
}
@section css{
    <link rel="stylesheet" href="~/layui/css/layui.css" media="all" />
}
<body class="childrenBody">
    <div style="text-align: center; padding:11% 0;">
        <i class="layui-icon" style="line-height:20rem; font-size:20rem; color: #393D50;">&#xe61c;</i>
        @if (Model.ShowRequestId)
        {
            <p style="font-size: 20px; font-weight: 300; color: #999;">@Model.RequestId</p>
        }
    </div>
</body>



