@{
    Layout = "_Layout";
}
@section css{
    <link rel="stylesheet" href="~/layui/css/layui.css" media="all" />
}
<body class="childrenBody">
    <div style="text-align: center; padding:11% 0;">
        <i class="layui-icon" style="line-height:10rem; font-size:10rem; color: #393D50;">&#xe61c;</i>
        <p style="font-size: 20px; font-weight: 300; color: #999;">没有此功能的权限,请联系管理员授权</p>
    </div>
</body>



