@model Sugar.Enties.Users
@{
    Layout = "_LayUITemplate";
}
@section css{
    <link rel="stylesheet" href="~/css/user.css" media="all" />
}
@section Scripts{
    <script type="text/javascript" src="~/page/user/editui.js" media="all"></script>
}
<body class="childrenBody">
    <form class="layui-form" action="" id="addform">
        <input type="hidden" name="Id" value="@Model.ID" />
        <div class="layui-form-item">
            <label class="layui-form-label">登录名称</label>
            <div class="layui-input-block">
                <input type="text" name="UserName" value="@Model.UserName" class="layui-input newsName" lay-verify="required" placeholder="登录名称" lay-reqtext="登录名称不能为空" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">显示名称</label>
            <div class="layui-input-block">
                <input type="text" name="DisplayName" value="@Model.DisplayName" class="layui-input newsName" lay-verify="required" placeholder="显示名称" lay-reqtext="显示名称不能为空" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">登录密码</label>
            <div class="layui-input-block">
                <input type="password" id="Password" name="Password" value="" class="layui-input newsName" lay-verify="pass" placeholder="登录密码" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
                <input type="text" id="confirmPassword" value="" class="layui-input newsName" lay-verify="repass" placeholder="确认密码" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item" style="margin-top:30px;">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="editui">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</body>